* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DADDE1;
}

header,
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    background-color: #394D72;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #F87E96;
}

.logo {
    margin-right: auto;
}

#choosed {
    background-color: #1b2a4681;
}

.icons {
    padding-right: 20px;
    align-items: baseline;
}

#own1,
#own2 {
    color: #F87E96;
}


/*
article config
*/

.container {
    overflow: auto;
    height: 100%;
}

.article {
    margin: 37px 30px;
    padding: 30px;
    height: auto;
    width: 958px;
    float: right;
    text-align: center;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    /*! flex-direction: column; */
    background: #FAEDE9;
}


#information{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#entretenimientoInformation{
    border-radius: 16px;
    width: auto;
    height: auto;
    background: #FAEDE9;
    outline: black;

}

#saludInformacion{
    border-radius: 16px;
    width: auto;
    height: auto;
    background: #FAEDE9;
    outline: black;

}

.elementsComponent{
    border-radius: 15px;
    margin-bottom: 15px;
    border: 4px solid #d0d0d0;
}

.elementsTitle{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F87E96;
    font-family: 'Roboto', sans-serif;

}


/*
Sidebar consig
*/

.sidebar {
    background: #2f323a;
    margin: 4% 2%;
    padding: 30px 0 5px 0;
    float: left;
    width: 290px;
    height: auto;
    transition: 0.5s;
    border-radius: 20px;
    transition-property: left;
    background-color: #394D72;
    font-family: 'Roboto', sans-serif;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: rgb(28, 39, 61);
}

.sidebar h4 {
    color: #ccc;
    margin-bottom: 20px;
}

.sidebar h5 {
    padding: 10% 0 10px 0;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    align-items: center;
}
#logOutButton {
    background-color: #394D72;
    font-size: medium;
    cursor: pointer;
    border: none;
    color: #ffff;
    height: 10px;
    width: 150px;
}

.optionsButton {
    color: #fff;
    display: block;
    width: 290px;
    line-height: 50px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    background-color: #394D72;
    border: none;
    cursor: pointer;
}

.optionsButton:hover {
    color: #ffff;
    background-color: #2f323a;
    text-decoration: none;
}

#canvas {
    height: 520px;
    text-align: center;
    border-radius: 20px;
    background-color: #FAEDE9;
    font-family: 'Work Sans', sans-serif;
}

#listContainer{
    display:flex;
    flex-direction: row;
    height: auto;
    margin:0px 46px 29px 28px;
    background-color: #FAEDE9;
    border-radius: 20px;
}

#list2{
    background: #2f323a;
    height: 120px;
    width: 450px;
    margin: 20px;
}

#list1{
    background: #2f323a;
    width: 450px;
    margin: 20px;
    height: 120px;
}

.mayorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mayorContainer{
    color: #df7187;
}

