* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DADDE1;
}

header,
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    background-color: #394D72;
}

/*
article config
*/


.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.article {
    margin: 4% 0;
    padding: 30px 0;
    height: auto;
    width: 70%;
    float: right;
    text-align: center;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
    background: aliceblue;
}

.titleAI {
    color: #df7187;
    padding-top: 10px;

}

.imgPageI {
    padding-top: 35px;
    padding-bottom: 35px;
}

.container {
    overflow: auto;
    height: 100%;
}

.article {
    margin: 4% 2%;
    padding-top: 30px;
    height: auto;
    width: 65%;
    float: right;
    text-align: center;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fieldSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 80px;
    font-size: larger;
    font-weight: normal;
    color: #F87E96;
}

.field label {
    margin: 10px;
    text-align: right;
    justify-content: center;
    width: 140px;
    color: #394d72;
}

.fieldSelect label {
    text-align: right;
    justify-content: flex-end;
    width: 165px;
    color: #394d72;
    height: 28px;
    display: flex;
    padding: 8px 14px 0px 5px;
}

#button {
    width: 180px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 10;
    background-color: #F87E96;
    color: #394D72;
    transition: all 0.3s ease 0s;
    margin-bottom: 40px;
    margin-top: 20px;
}

#fieldContainer {
    margin: 60px 0 40px 0;
}

.container input {
    width: 300px;
    border: 0;
    background-color: #DADDE1;
    border-radius: 10px;
    outline-color: #f87e96cc;
    margin: 10px;
    padding-left: 12px;
    outline-width: 10px;
}

#imagC {
    height: 90px;
    width: 90px;
}

.selectFormat {
    width: 300px;
    border: 0;
    background-color: #DADDE1;
    border-radius: 10px;
    outline-color: #f87e96cc;
    margin: 10px;
    padding-left: 12px;
    outline-width: 10px;
}

/*
Sidebar consig
*/

.optionsButton {
    color: #fff;
    display: block;
    width: 290px;
    line-height: 50px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    background-color: #394D72;
    border: none;
    cursor: pointer;
}
