
/*
article config
*/
body {
    background-color: #DADDE1;
}

header,
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    background-color: #394D72;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article {
    margin: 4% 2%;
    padding-top: 30px;
    width: auto;
    float: right;
    text-align: center;
    border-radius: 20px;
    background-color: #394D72;
    font-family: 'Roboto', sans-serif;
}

/*
article config
*/
body {
    background-color: #DADDE1;
}

header,
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    background-color: #394D72;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topcontainer{
    text-align: center;
    width: auto;
    justify-content: center;

}

.article {
    /*! margin: 35px 3%; */
    padding: 30px;
    width: max-content;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #FAEDE9;
    font-family: 'Roboto', sans-serif;
    margin: 10px 8px 30px 8px;
}

.table{
    margin: 10px 3%;
    margin-right: 0px;
    padding: 30px;
    width: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: #FAEDE9;
    font-family: 'Roboto', sans-serif;
}

.saldo{
    width: 300px;
}

.ingreso{
    width: 300px;
}

.gastos{
    width: 300px;;
}

#ingresot{
    color: #058a00;
    font-weight: 900;
}

#saldot{
    color: #244e9c;
    font-weight: 1000;
}

#gastost{
    color: #b90b0b;
    font-weight: 900;
}


