
/*
article config
*/
body {
    background-color: #DADDE1;
}

header,
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    background-color: #394D72;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article {
    margin: 35px 3%;
    padding: 30px;
    width: auto;
    float: right;
    text-align: center;
    border-radius: 20px;
    background-color: #394D72;
    font-family: 'Roboto', sans-serif;
}


