

body {
    background-color: #DADDE1;
}

header,
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    background-color: #394D72;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    margin: 1% 2%;
    left: 0;
    width: 70%;
    height: auto;
    transition-property: left;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    float: left;
    text-align: center;
}

.article {
    width: auto;
    background-color: #EAE4E2;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    color: #F87E96;
    justify-content: center;
}

#title-text1 {
    color: #F87E96;
}

#saveButton {
    display: block;
    width: 250px;
    height: 60px;
    padding: 14px 0px;
    background-color: #F87E96;
    border-radius: 50px;
    cursor: pointer;
    transition: all0.3s ease 0s;
    font-family: 'Work Sans', sans-serif;
    color: #394D72;
    text-decoration: none;
}

#saveButton:hover {
    background-color: #f0607d;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #394D72;
}

.field label {
    margin: 10px;
    text-align: right;
    width: 155px;
}

.container input {
    width: 300px;
    border: 0;
    background-color: #DADDE1;
    border-radius: 10px;
    outline: 0;
    font-size: 18px;
    margin: 10px;
    padding-left: 12px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#personalInfo {
    height: 60%;
}

#contact {
    height: 20%;
}

#privacity {
    height: 20%;
}

.selectFormat{
    width: 300px;
    border: 0;
    background-color: #DADDE1;
    border-radius: 10px;
    outline-color: #f87e96cc;
    margin: 10px;
    padding-left: 12px;
    outline-width: 10px;
    font-family: 'Roboto', sans-serif;
}