* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAEDE9;
}

#title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #F87E96;
    margin: 2% 0 2% 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.container h2 {
    font-family: 'Roboto', sans-serif;
    color: #F87E96;
}

.container info {
    font-family: 'Roboto', sans-serif;
    color: #F87E96;
}

.article {
    left: 0;
    width: 800px;
    height: auto;
    transition-property: left;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    background-color: #FAEDE9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    border-radius: 20px;
}

.logo {
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #394D72;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #F87E96;
}

#own1,
#own2 {
    color: #F87E96;
}

#helpImage {
    margin-left: 30px;
}

.info {
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-left: 30%;
    margin-bottom: 20%;
    weight: auto;
    height: auto;
}

.info p {
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
    color: #394D72;
}

#infoLogo {
    margin-bottom: 20%;
}

.socials span {
    margin-left: 10px;
}

.socials a {
    text-decoration: none;
}

.socials {
    margin-bottom: 8px;
    margin-top: 10px;
}
/*
Footer Config
*/

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    background-color: #394D72;
}

.nav_links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #FAEDE9;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #F87E96;
}