* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DADDE1;
}

header,
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 2%;
    background-color: #394D72;
}


.container {
    overflow: auto;
    height: 100%;
}

.article {
    position: sticky;
    margin: 52px 40px;
    padding-top: 30px;
    width: 895px;
    float: right;
    text-align: center;
    border-radius: 20px;
    background-color: #FAEDE9;
    font-family: 'Roboto', sans-serif;
}

.article *{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
Sidebar consig
*/

.sidebar {
    background: #2f323a;
    margin: 52px 30px;
    padding: 30px 0 5px 0;
    float: left;
    width: 290px;
    height: auto;
    transition: 0.5s;
    border-radius: 20px;
    transition-property: left;
    background-color: #394D72;
    font-family: 'Roboto', sans-serif;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

#title{
    color: #F87E96;
}

#img{
    width: auto;
    height: auto;
    margin: 53px;
}

.fields{
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.fields input{
    text-align: center;
    background-color: rgb(218, 221, 225);
    color: black;
    border-radius: 10px;
    font-size: large;
    border: 1px solid rgb(218, 221, 225);
    height: 25px;
}

#btSave{
    background-color: #F87E96;
    font-size: 25px;
    margin: 40px 0;
    border-radius: 10px;
    color: black;
    border: 1px solid #fff;
}

.logo {
    margin-right: 100px;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;

}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #F87E96;
}

.logo {
    margin-right: auto;
}

#choosed {
    background-color: #1b2a4681;
}

.icons {
    padding-right: 20px;
}
.sidebar a:hover {
    background: rgb(28, 39, 61);
}

.sidebar h4 {
    color: #ccc;
    margin-bottom: 20px;
}

.sidebar h5 {
    padding: 10% 0 10px 0;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    align-items: center;
}

#logOutButton {
    background-color: #394D72;
    font-size: medium;
    cursor: pointer;
    border: none;
    color: #ffff;
    height: 10px;
    width: 150px;
}

.optionsButton {
    color: #fff;
    display: block;
    width: 290px;
    line-height: 50px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    background-color: #394D72;
    border: none;
    cursor: pointer;
}

.optionsButton:hover {
    color: #ffff;
    background-color: #2f323a;
    text-decoration: none;
}