* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAEDE9;
}

.container {
    width: 100%;
    height: 100%;
}

.article {
    margin: 2% 4% 2% 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    width: auto;
    height: auto;
    transition-property: left;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    background-color: #FAEDE9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    border-radius: 20px;
}

.logo {
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #394D72;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #F87E96;
}

#own1,
#own2 {
    color: #F87E96;
}


/*
Footer Config
*/

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    background-color: #394D72;
}

.nav_links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #FAEDE9;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #F87E96;
}

hr{
    color: #ff7c94;
}

article {
    padding: 10px;
    margin: 10px;
    background: #e0dce4;
    flex: 1 100px;
    justify-content: center;
    height: auto;
    width: auto;
    text-align: center;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

section{
    display: flex;
    flex-direction: row;
}

.contTask{
    height: 30%;
    padding-bottom: 20px;
}

.fieldContainer{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.title{
    color: #ff7c94;
}

#contContac{
    padding: 10px;
    margin: 10px;
    flex: 1 100px;
    background-color: #FAEDE9;
    justify-content: center;
    height: auto;
    width: auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.contactContainer{
    color:#394D72;
}

.correoContainer{
    color:#394D72;
    text-align: right;
    padding-top: 10px;
    margin-right: 140px;
}

.instagram{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.whatsApp{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}

.Lukas{
    text-align: left;
    font-size: x-large;
    padding-top: 10px;
    margin-left: 120px;
    padding-bottom: 50px;
}